[user]
	email = mr.jascha@gmail.com
	name = Jascha van Aalst
[core]
	excludesfile = /Users/jaschavanaalst/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/jaschavanaalst/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/jaschavanaalst/.stCommitMsg
