### gitignore for actual .dotfiles repo

## Projectfiles
/.idea/
/.vscode/

/TODO.md

## macOS
*.DS_Store
/.cache/

## Hammerspoon
/hammerspoon/Spoons
/hammerspoon/Spoons/EmmyLua.spoon/annotations
/config/nvim/plugin/packer_compiled.lua

## ZSH
/zsh/.zsh_history
/zsh/.zcompcache

## Secret
/.gitsecret/keys/random_seed
!*.secret

## Uncompressed PNG's
/img/source/

## Other
/config/lazygit/state.yml
/config/.var/
/gitconfig
/SPEEDLOG.md
/*.txt
*.log
**.cache
**.BAK
**.bak
/*.md
!/README.md
!/articles.md
/.ssh/*
!/.ssh/*.secret
