# Projectfiles.
.idea
.vscode
TODO.md

# macOS
*.DS_Store
.cache/

# Hammerspoon
hammerspoon/Spoons
hammerspoon/Spoons/EmmyLua.spoon/annotations
config/nvim/plugin/packer_compiled.lua

zsh/.zsh_history
zsh/.zcompcache

config/lazygit/state.yml
