# Projectfiles.
.idea
TODO.md

# macOS
*.DS_Store
**.cache

# Hammerspoon
hammerspoon/Spoons/EmmyLua.spoon/annotations
config/nvim/plugin/packer_compiled.lua


config/colors/lua/jassie030new.lua
zsh/.zsh_history

zsh/.zcompcache