[mysqld]
connect_timeout=1200
net_read_timeout=1200
wait_timeout=1200
interactive_timeout=1200
max_allowed_packet=128M
innodb_buffer_pool_size=1200M
innodb_log_file_size=256M
innodb_max_dirty_pages_pct=0
innodb_fast_shutdown=0
innodb_log_buffer_size=128M
