[mysqld]
connect_timeout=1200
net_read_timeout=1200
wait_timeout=1200
interactive_timeout=1200
max_allowed_packet=1G
innodb_log_file_size=2G
innodb_file_per_table
innodb_buffer_pool_size=8G
innodb_flush_method=O_DIRECT
; innodb_force_recovery=6
